
<ul id="contacts">
	{foreach $contacts as $contact}
		{var $id = $coder->encodeData($contact->id)}
		<li id="contact-{$id}" data-id="{$id}" data-title="{$contact->user_name}" class="contact-link">{$contact->user_name}</li>
	{/foreach}
</ul>

<script>
	var mydata = {
		name: {$username}
	}
</script>
