{layout '../BaseGallery/baseGallery.latte'}

{* competition bloky *}

{define menuButtons}
<a href="{plink Galleries:listUserGalleryImages galleryID => $gallery->id}"  class="btn-main btn-small">
	celá galerie
</a>
{*<a href="{plink Galleries:}"  class="btn-main btn-small">
	seznam galerií
</a>*}
{*<a href="#" class="btn-main btn-small scroll-to-comments">
	přidat komentář
</a>*}
{/}

{define imageComment}
{$image->description}
{/}

{define uploadImage}
<a href="{plink Galleries:userGalleryNew}" id="add-photo-button" class="btn-main medium right">
	vytvořit vlastní galerii
</a>
{/}
 
{define imageMainScreen}
	<img src="{$image|getImgPath}" alt="{$image->name}"
		{ifset $imgPaddingTopBottom}
			style = "padding: {!$imgPaddingTopBottom}px 0;"
		{/ifset}
		{if $setWidth} width="700" {else} height="525" {/if} />
{/}

{define likes}
	{control likes}
{/}