services:
	activityReporter: POS\Listeners\Services\ActivityReporter
	coinListener:
		class: POS\Listeners\CoinListener
		tags: [kdyby.subscriber]
	scoreListener:
		class: POS\Listeners\ScoreListener
		tags: [kdyby.subscriber]
	uploadImageListener:
		class: POS\Listeners\UploadImageListener
		tags: [kdyby.subscriber]
