includes:
	- testconection.neon

nette:
	session:
		save_path: "%tempDir%/sessions"
		autoStart: true
		expiration: 60 days

services:
	userManager: \Test\UserManager
	databaseManager: \Test\DatabaseManager(%appDir%/test/sql)
	screenshotManager: \Test\ScreenshotManager(%tempDir%/test/screenshots)
	nette.mailer: \Test\MailManager(%tempDir%/test/emails)
	testDao: POS\Model\TestDao

parameters:
		#testovací režim
		testMode: TRUE
