{block acceptMenu}
<div class="btn-group btn-group-justified">
	<a class="btn" n:href="AcceptImages:">Schválení uživatelské fotky {$usrCount}</a>
	<a class="btn" n:href="AcceptImages:acceptCompetitionImages">Soutěžní fotky {$compCount}</a>
	<a class="btn" n:href="AcceptImages:acceptVerificationImages">Ověřovací fotky {$verCount}</a>
	<a class="btn" n:href="AcceptImages:checkUserImages">Potvrzení uživatelské fotky {$notCheckCount}</a>
	<a class="btn" n:href="AcceptImages:checkFrontPageUserImages">Na hl. stránku {$notCheckFrontPageCount}</a>
</div>
{/block}