<ul class="content">
	{foreach $items as $item}
		<li>
			{if $mode == 'listAll'}
				{$item|showProf: array(':Profil:Show:default', 'id' => $item->id)}
			{else}
				{$item|showProfMin: array(':Profil:Show:default', 'id' => $item->id)}
			{/if}
		</li>
	{/foreach}
</ul>

{if ($mode == 'listFew')}
	<a href="{plink Search:Search:}">Podrobné vyhledávání</a>
{/if}