{block head}

{/block}

{block content}
	{if $userData}
		<h1>Změna odeslání informačních emailů na týdenní.</h1>
	{else}
		<h1>Změna se nezdařila. Zkuste to později, nebo kontaktujte správce v chatu.</h1>
	{/if}
{/block}