{var $activeChat = TRUE;}

{block head}
	{control css 'chat/mobileChatstream.less'}
{/}

{block content}
<h2>{$userInChat->user_name}</h2>
{control conversation}
{/block}

{block foot}
{control js 'stream.js', 'chat/stream-chat-init.js', 'chat/mobileChatStream.js'}

<script>
	$(document).ready(function () {
		$('body').chatConversationPage({
			msgSettingsOn: true //zapnutí nastavení pro zprávy
		});
	});
</script>

{/block}
