
{block datingContent}
<h2 class="window-title">DĚKUJEME</h2>
<div class="window-content second-form">
	Děkujeme za vaši registraci.

	Nyní se můžete <a n:href="Sign:in" class="red-link" title="Přihlášení">Přihlásit</a>
</div>


