{block head}
{*<link rel="stylesheet" href="{$basePath}/css/bonuses.css" type="text/css">*}
<link rel="stylesheet" href="{$basePath}/css/bootstrap.css" type="text/css">
{*<link rel="stylesheet" href="{$basePath}/css/slimbox/slimbox2.css" type="text/css">*}
<script type="text/javascript" src="{$basePath}/js/confirm_adult.js" ></script>  
{control css "competition/listImages.less"}
{*control css "bootstrap/bootstrap.less"*}
{/block}

{block foot}
{*<script type="text/javascript" src="{$basePath}/js/slimbox2.js" ></script>*}
{ifset #scripts}
	{include #scripts}
{/ifset}
{/block}

{block beforeContent}
<section class="inner imgs-container">
	{ifset #addNewImage}
		{include #addNewImage}
	{/ifset}
    {foreach $images as $image}        
		<div class="img-container">                           
			<img src="{$basePath}/images/userGalleries/{$userData->id}/{$image->galleryID}/minSqr{$image->id}.{$image->suffix}" width="100%" height="100%"/>
			<a class="view" href="{plink Galleries:image imageID => $image->id, galleryID => $galleryID}">{$image->description}</a>
			
			{ifset #imageEditButtons}
				{include #imageEditButtons "image" => $image}
			{/ifset}
		</div>
		{ifset #modalDeleteImage}
			{include #modalDeleteImage "image" => $image}
		{/ifset}
    {/foreach}
    <div class="clear"></div>
</section>
{/}


