{block menu}
<div class="btn-group">
	<a class="btn btn-default" n:href="Article:listArticles">Seznam stránek</a>
	<a class="btn btn-default" n:href="Article:">Domů</a>
	<a class="btn btn-default" n:href="Article:newArticle">Nová stránka</a>
</div>
{/block}