{block menu}
<div class="btn-main-group">
	<a class="btn-main btn-smaller" n:href="Article:editArticle url => $article->url">Změnit obsah</a>
	<a class="btn-main btn-smaller" n:href="Article:listArticles">Seznam stránek</a>
	<a class="btn-main btn-smaller" n:href="Article:">Domů</a>
	<a class="btn-main btn-smaller" n:href="Article:newArticle">Nová stránka</a>
</div>
{/block}