{block head}
{control css 'bootstrap/forms-medium.less', 'advanced.less', 'search/default.less'}
{/block}
{block content}
{includeblock 'navigation/searchNavigation.latte'}
	{control advancedSearch 'listAll'}
{/block}

{block scripts}

{/block}

{block foot}
<script src="{$basePath}/js/advanced.js"></script>