<!-- příprava scriptů -->
<script src="{$basePath}/js/stream.js"></script>
<script src="{$basePath}/js/chat/stream-chat-init.js"></script>

<!--testovací scripty-->
<script src="{$qTestPath}/js/chat/singlePage/test.js"></script>