cron/nbproject/*
/nbproject/private/
public/temp/*
!public/temp/reports
public/temp/reports/*
!public/temp/reports/.gitkeep
!public/temp/sessions
public/temp/sessions/*
!public/temp/sessions/.gitkeep
!public/temp/test
public/temp/test/emails/*
!public/temp/test/emails/.gitkeep
public/temp/test/screenshots/*
!public/temp/test/screenshots/.gitkeep
/public/priznaniosexu.7z
/public/databaze.sql
/public/log/
/public/www/test.php
/public/www/cache/css/
/public/www/cache/js/
/public/www/images/galleries/
public/www/images/temp/*
!public/www/images/temp/.gitkeep
/public/test.php
/public/Base2Presenter.php
public/README.md
/public/www/images/userGalleries/
public/www/css/bootstrap/help/reseni
/public/www/images/users/profils/
public/app/test/config/behat.local
public/www/cache/*
!public/www/cache/js
public/www/cache/js/*
!public/www/cache/js/.gitkeep
public/nbproject/project.properties
public/nbproject/project.xml
public/app/test/sql/init/*
!public/app/test/sql/init/.gitkeep
public/app/test/sql/featurestart/*
!public/app/test/sql/featurestart/.gitkeep
public/app/test/sql/featureend/*
!public/app/test/sql/featureend/.gitkeep
public/app/test/config/behat.local.yml

public/nbproject/licenseheader.txt
/cron/nbproject/private/
/ftp-deployment-master/nbproject/private/