/nbproject/private/
temp/*
!temp/reports
temp/reports/*
!temp/reports/.gitkeep
/priznaniosexu.7z
/databaze.sql
/log/
/www/test.php
/www/cache/css/
/www/cache/js/
/www/images/galleries/
/test.php
/Base2Presenter.php
README.md
/www/images/userGalleries/
www/css/bootstrap/help/reseni
/www/images/users/profils/
/app/test/config/behat.local.yml
www/cache/*
!www/cache/js
www/cache/js/*
!www/cache/js/.gitkeep
