{block head}
{control css "gallery/component-gallery.less"}
<!--<link rel="stylesheet" href="{$basePath}/css/component-gallery.css" type="text/css">-->
<script type="text/javascript" src="{$basePath}/js/confirm_adult.js" ></script>
<style>
	a {
		color: #a70304;
	}
</style>
{/block}

{block foot}

{/}

{block content}
	{control gallery}
{/block}