{block content}

<div class="top-container">
</div>
<div class="clear"></div>
{control usersImagesInGallery "listAll"}

{/}
{block foot}
<script type="text/javascript" src="{$basePath}/js/bootstrap-modal.min.js" ></script>
{/}
{block pageContent}