{block content}
{control paymentNewForm}

	{control grid}
	
{/block}
{block foot}
<script type="text/javascript" src="{$basePath}/js/timePicker/jquery-ui-1.9.2.timepicker.min.js"></script>
{control jsTimePicker}