{block head}

{/block}


{block content}
	<h2>Google Analytics:</h2>
	<p class="muted"><b>Nápověda:</b> Odkaz Vás přesměruje na stránky google analytics, který kontroluje vaše stránky. Před vstupem do systému se musíte přihlásit přes údaje, které Vám byly zaslány při vytvoření stránek.</p>
	<a href="https://www.google.com/analytics/"><button class="btn btn-info">Návštěvnost stránek</button></a>
	

	{control googleAnalyticsForm}
{/block}
