{define pzpicons}
<a n:href=":Page:default url => priznanizparby" class="first"></a>
<a href="http://akcnidrinky.cz" class="second"></a>
<a href="http://priznaniosexu.cz" class="thirdparty"></a>
<a n:href=":Page:metro" class="third"></a>
{/}

{define pzpmenu}
<a n:href=":Page:default url => priznanizparby" class="first">Přiznání</a>
<a href="http://akcnidrinky.cz" class="second">Akční drinky</a>
<a href="http://priznaniosexu.cz" class="thirdparty">Přiznání o sexu</a>
<a n:href=":Page:metro" class="third">Bonusy</a>
{/}