výběr účtu
<table>
	<tr>
		<td><a n:href="paymentChoose! type=> exclusive" class="ajax">Druhý krok eXclusive</a></td>
		<td><a n:href="paymentChoose! type=> premium" class="ajax">Druhý krok Premium</a></td>
		<td></td>
	</tr>
</table>
