/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20.3.2015, 15:34:27
    Author     : Jan Kotalík <jan.kotalik.pro@gmail.com>
*/
@import "../comments/mobileComments.less";

.addprofilePhoto{
	padding: 2px 5%;
	text-align: center;
	
	.addprofilePhotoWindow{
		padding: 10px 10%;
	}
}

#popupAddProfilePhoto{
	padding: 0 8px;
	left: -8px;	
}

#best-match{
	width: 100%;
	float: left;
	
	ul.best-search{
		list-style: none;
		display: block;
		padding: 6px 0;
		margin: 0;
		
		li{
			display: block;
			position: relative;
			float: left;
			padding: 0;
			margin: 0;
			width: 18%;
			margin-right: 2%;
			
			*{
				margin: 0;
				padding: 0;
			}
			
			.generatedProfile {
				width: 100%;
				text-align: center;
				overflow: hidden;
				img{
					display: inline;
					border-radius: 0;
					width: 100%;
					height: auto;
					cursor: pointer;
				}
			}
			.more-btn{
				position: absolute;
				border: 1px solid #C9C9C9;
				top: 0;
				right: -10%;
				background-image: url("../../images/userSearch/search-arrow.png");
				background-size: 100% auto;
				background-position: center center;
				background-repeat: no-repeat;
				background-color: #f9f9f9;
				width: 50%;
				height: 90%;
				cursor: pointer;
				display: inline-block;
			}
		}
	}
}

#usertabs{
	.hidden{
		display: none;
	}
	
	#statusForm, #confessionForm, #photoForm{
		padding-top: 8px;
	}
	
	#confessionForm{
		.ui-input-text:not(.form-field){
			border: none;
		}
	}	
}

.comments-container, .likes-container{
	display: none;
}
.likes-container{
	margin: 5px 15px;
	padding: 5px 5px;
}

.isLiked.ui-state-disabled{
	filter: Alpha(Opacity=70) !important;
	opacity: 0.7 !important;
}

.tooltip-container{
	text-align: right;
	a{
		background: transparent !important;
		border: none;
	}

}