{snippet}
	<div id="top_container">
        <h2 id="image_name">{$image->name|firstUpper}{if (($user->isInRole("superadmin") || $user->isInRole("admin")) && $image->approved == 0)}(zatím neschváleno){/if}</h2>
		{if $gallery->current == 1}
		<a href="{plink Competition:uploadImage}" id="upload_foto">
			nahrát fotku
		</a>
		{/if}
		<div class="clear"></div>
	</div>
	
	<div id="image_container">
		{if $beforeImageID}
			<a n:href="back! imageID => $beforeImageID" class="btn-space btn-link">
				<div class="btn" id="back"></div>
			</a>
		{else}
			<div class="btn-space"><div class="btn"></div></div>
		{/if}

		<div id="image_content">
			<div id="image">
				<div class="fb-like-container" >
					<p>hlasujte zde</p>
					<div class="fb-like" data-href="http://www.{if $partymode}priznanizparby{else}priznaniosexu{/if}.cz{$imageLink}"
						 data-layout="box_count" data-width="74" data-show-faces="true">
					</div>
				</div>
				{if $image->videoID != 0}
					<object width="700" height="500" data="http://www.youtube.com/v/{$image->video->code}" type="application/x-shockwave-flash"><param name="src" value="http://www.youtube.com/v/{$image->video->code}" /></object>
				{else}	
					<img style="padding: {$padding}px 0" src="{$basePath}/images/galleries/{$gallery->id}/{$image->id}.{$image->suffix}" alt="{$image->name}" {if $changeWidth} width="700" {else} height="500" {/if}>
				{/if}
				<div id="voting"></div>
				{cache}
				<div id="adverb-right">
					{*<div id="adverb-contact">{*<a href="{plink "Adverb:contact"}">*}{*Chcete zde mít svoji reklamu? Kontaktujte nás na <a href="mailto:info@priznaniosexu.cz"">info@priznaniosexu.cz</a>{*Klikněte <u>zde</u>.</a>*}{*</div>*}
					<div>
						<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
						{* přiznání o sexu - banner na výšku *}
						<ins class="adsbygoogle"
							 style="display:inline-block;width:160px;height:600px"
							 data-ad-client="ca-pub-7282386453536295"
							 data-ad-slot="9034832769"></ins>
						<script>
						(adsbygoogle = window.adsbygoogle || []).push({});
						</script>
					</div>
					<div>
						<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
						{* na výšku 2 *}
						<ins class="adsbygoogle"
							 style="display:inline-block;width:160px;height:600px"
							 data-ad-client="ca-pub-7282386453536295"
							 data-ad-slot="4915039561"></ins>
						<script>
						(adsbygoogle = window.adsbygoogle || []).push({});
						</script>
					</div>
				</div>
				{/cache}
			</div>
			<div id="fblike-and-comment">
				<p id="image_comment" class="float-left">
					{$image->comment}
				</p>
				<div class="float-left">
					<a href="{plink Competition:list}" id="upload_foto">
						seznam galerií
					</a>
				</div>
				<div class="clear"></div>
			</div>
			<div class="clear"></div>
		</div>

		{if $afterImageID}
			<a n:href="next! imageID => $afterImageID" class="btn-space btn-link">
				<div class="btn" id="next"></div>
			</a>
		{else}
			<div class="btn-space"><div class="btn"></div></div>
		{/if}
		<div class="clear"></div>
	</div>	
	
	<div id="link-and-fb">
		{* udaje pro adminy *}
		{if $user->isInRole("superadmin")}
		{if $image->approved == 0}
		<div>
			<a n:href="approveImage! imageID => $image->id">Schválit</a>
		</div>
		{/if}
		<table>
			<tr>
				<td>
					<b>Jméno:</b>
				</td>
				<td>
					{$image->user_name}
				</td>
			</tr>
			<tr>
				<td>
					<b>Telefon:</b>
				</td>
				<td>
					 {$image->user_phone}
				</td>
			</tr>
			<tr>
				<td>
					<b>Email:</b>
				</td>
				<td>
					{$image->user_email}
				</td>
			</tr>
		</table>
		<div>
			(obrázek bude navždy smazán)
			<a n:href="removeImage! imageID => $image->id">Smazat</a>
		</div>
		{/if}
		
		<h2><a href="{plink Competition:uploadImage}">
			Hrajte o{if $partymode} 7-letý Kubánský rum{else} sexy oblečky na Vánoce{/if} (více zde)
		</a></h2>
		<br />
		
		<h2>Sdílejte tento obrázek na odkazu:</h2>
		<form id="link">
			<textarea cols="70">http://www.{if $partymode}priznanizparby{else}priznaniosexu{/if}.cz{$imageLink}</textarea>
		</form>

		<div id="fb" class="fb-components">
			<div class="fb-comments-container">
				<div class="fb-comments" data-href="http://www.{if $partymode}priznanizparby{else}priznaniosexu{/if}.cz{$imageLink}" data-width="600" data-num-posts="10"></div>
			</div>
		</div>
	</div>
	<script type="text/javascript">FB.XFBML.parse(document.getElementById('fb'));//revalidace fb komponent</script>
	<div style="text-align: center; margin-bottom: 10px;">
		{* reklama *}
		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		{* široký sloupec nad detailem přiznáním 1 *}
		<ins class="adsbygoogle"
			 style="display:inline-block;width:728px;height:90px"
			 data-ad-client="ca-pub-7282386453536295"
			 data-ad-slot="6040680360"></ins>
		<script>
		(adsbygoogle = window.adsbygoogle || []).push({});
		</script>
	</div>
{/snippet}