{block head}
	{control css 'friends/sexyForThem.less'}
{/block}

{block content}
	<h3 class="sexy-for-them-title">Jsem pro ně sexy</h3>
	{control sexyForThemList}
{/block}

{block scripts}
{/block}

{block foot}