{layout '../BaseStream/baseStream.latte'}

{define addNewPost}
	<div data-role="tabs" id="usertabs">
		<div data-role="navbar">
			<ul>
				{if $user->isLoggedIn()}
				<li><a href="#statusForm" data-ajax="false">STATUS</a></li>
				{/if}
				<li><a href="#confessionForm" data-ajax="false">PŘIZNÁNÍ</a></li>
				<li><a href="#photoForm" data-ajax="false">FOTKY</a></li>
			</ul>
		</div>
		{if $user->isLoggedIn()}
		<div id="statusForm" class="ui-body-d ui-content">
			{if $user->isLoggedIn()}
				{$userData|showProfDiv}
			{/if}
			<div class="half-form">
			{form statusForm}
				{input message class=>'form-field', placeholder=>'Napiš, co právě děláš...', rows => 3}
				<div class="submit-container">
					{input submit class => 'submit-button'}
				</div>
			{/form}
			</div>
		</div>
		{/if}
		<div id="confessionForm">
			{if $user->isLoggedIn()}
				{$userData|showProfDiv}
				{/if}
				<div class="half-form">
				{form addConfessionForm class=>'form-container'}
					<ul class="error" n:if="$form->hasErrors()">
						<li n:foreach="$form->errors as $error">{$error}</li>
					</ul>
					{input note class=>'form-field', placeholder=>'Přiznej se, vše bude anonymní...', rows => 3}
					<div class="submit-container">
						{input submit class => 'submit-button'}
					</div>
					{label nick class => 'hidden' /}
					{input nick class => 'hidden'}
				{/form}
				</div>
		</div>
		<div id="photoForm">
	    	{if $user->isLoggedIn()}
				{$userData|showProfDiv}
				<div class="half-form">
				{control newStreamImageForm}
				</div>
			{else}
				Pro přidávání fotek se <a href="{plink :Sign:in}">přihlaš</a> nebo <a href="{plink :Sign:registration}">registruj</a>.
			{/if}
	  </div>
	</div>
{/}

{define addUserInfo}
	{if $user->isLoggedIn() && empty($profilePhoto)}
		<div class="addprofilePhoto">
			Ostatní si vás nemohou prohlédnout.
			<a href="#popupAddProfilePhoto" data-rel="popup" data-position-to="window" class="ui-btn ui-corner-all ui-shadow ui-btn-inline ui-icon-check ui-btn-icon-left ui-btn-a" data-transition="pop">
				Nahrajte si profilovou fotku
			</a>
			<div data-role="popup" id="popupAddProfilePhoto" data-theme="a" class="ui-corner-all">
		        <div class="addprofilePhotoWindow">
		            <h3>Nahrát profilovou fotku</h3>
		            {control cropImageUpload}
		        </div>
			</div>
		</div>
	{elseif !empty($newInfo)}
		<div id="news">
			<header>{$newInfo->name}</header>
			<p id="news-short">{$newInfo->text|truncate:100} {if strlen(utf8_decode($newInfo->text)) > 100}<a id="news-more">více</a>{/if}</p>
			<p id="news-long">{!$newInfo->text|nl2br}</p>
			<a n:href="newReaded! newID => $newInfo->id" class="btn-main btn-small">PŘEČTENO</a>
		</div>
	{elseif $user->isLoggedIn() && !empty($profilePhoto) &&  $place==0  && $position==0 && $placePosSession->count%5==0}
		<div class="questionnaire-form">
			<h4 class="question-title">Chcete další téma ke konverzaci? Vyplňte si:</h4>
			{control placesAndPositionsForm}
			<div class="clear"></div>
			</div>
	{/if}
{/}
