{layout '../BaseStream/baseStream.latte'}

{define blockedUser}
	{var $link = array('blockUser!', array(blockUserID => $dataItem->userID) )}
	{control blockUser-$dataItem->id $dataItem->id, $dataItem->user->user_name, $link}
{/}