#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
common:

	includes:
		- model.neon
		- localeconection.neon
	
	parameters:
		facebook:
			appId: '639745929384551' # musi byt string
			secret: '6db6f485163d65b16d4758520e1011b9'

	php:
		date.timezone: Europe/Prague
		# session.save_path: "%tempDir%/sessions"
		# zlib.output_compression: yes


	nette:
		session:
			autoStart: smart
			expiration: +30 days

		database:
			default:
				dsn: '%database.driver%:host=%database.host%;dbname=%database.dbname%'
				user: %database.user%
				password: %database.password%


	services:
		database: @POS\Model\UserDao

		userModel: UserModel

		facebook: Facebook( {appId: %facebook.appId%, secret: %facebook.secret%} )

		facebookAuthenticator: FacebookAuthenticator

		authenticator: Authenticator
		authorizator:
			class: Acl

		
production < common:


	parameters:
		database:
			driver: mysql
			#host: wm38.wedos.net
			#dbname: d30935_priznan
			#user: a30935_priznan
			#password: EfHKeb7e
			#host: wm33.wedos.net
			#dbname: d42750_priznan
			#user: a42750_priznan
			#password: 845DjQBp
			host: wm43.wedos.net
			dbname: d42750_pos4
			user: a42750_pos4
			password: aB9aStTN

development < common:
