#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
common:

	includes:
		- model.neon
		- localeconection.neon
		- listeners.neon
	
	parameters:
		facebook:
			appId: '639745929384551' # musi byt string
			secret: '6db6f485163d65b16d4758520e1011b9'
		#testovací režim
		testMode: FALSE

	php:
		date.timezone: Europe/Prague
		# session.save_path: "%tempDir%/sessions"
		# zlib.output_compression: yes


	nette:
		application:
#			catchExceptions: TRUE
			errorPresenter: Error
			
		session:
			autoStart: smart
			expiration: +30 days

		database:
			default:
				dsn: '%database.driver%:host=%database.host%;dbname=%database.dbname%'
				user: %database.user%
				password: %database.password%
	
#	testMode: %testMode%

	services:
		database: @nette.database.default
		session: Nette\Http\Session

		#facebook: Facebook( {appId: %facebook.appId%, secret: %facebook.secret%} )

		#facebookAuthenticator: FacebookAuthenticator

		authenticator: Authenticator

		chatManager: POS\Chat\ChatManager
		statisticManager: POS\Statistics\StatisticManager
		ajaxObserver: POS\Ajax\AjaxObserver
		authorizator:
			class: Acl

		
production < common:

	nette:
		application:
			catchExceptions: TRUE

	parameters:
		database:
			driver: mysql
			host: 127.0.0.1
			dbname: datenodecz
			user: datenodecz001
			password: a10b0618p
			productionMode: TRUE

		chatDatabase:
			#driver: mysql
			#host: localhost
			#dbname: poschat
			#user: root
			#password: root

development < common:

	parameters:
		productionMode: FALSE
