#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
common:
	parameters:
		database:
			driver: mysql
			host: localhost
			dbname: priznaniosexu
			user: root
			password: root
		facebook:
			appId: '639745929384551' # musi byt string
			secret: '6db6f485163d65b16d4758520e1011b9'

	php:
		date.timezone: Europe/Prague
		# session.save_path: "%tempDir%/sessions"
		# zlib.output_compression: yes


	nette:
		session:
			autoStart: smart
			expiration: +5 days

		database:
			default:
				dsn: '%database.driver%:host=%database.host%;dbname=%database.dbname%'
				user: %database.user%
				password: %database.password%


	services:
		database: @Nette\Database\Connection

		userModel: UserModel

		facebook: Facebook( {appId: %facebook.appId%, secret: %facebook.secret%} )

		facebookAuthenticator: FacebookAuthenticator


		authenticator: Authenticator( @users )
		authorizator:
			class: Acl


	factories:
		users: Users
		couple: Couple
		texts: Texts
		images: Images
		galleries: Galleries
		forms: Forms
		forms1: Forms1
		forms2: Forms2
		forms3: Forms3
		videos: Videos
		authorizator_table: Authorizator_table
		polls: Polls
		#facebook: Facebook
		files: Files
		google_analytics: Google_analytics
		map: Map
		pages_galleries: Pages_galleries
		pages_forms: Pages_forms
		news: News
		news_galleries: News_galleries
		pages: Pages
		form_new_send: Form_new_send
		advices: Advices
		partyConfessions: PartyConfessions
		embedVideos: embedVideos
		usersFoto: UsersFoto


production < common:


	parameters:
		database:
			driver: mysql
			#host: wm38.wedos.net
			#dbname: d30935_priznan
			#user: a30935_priznan
			#password: EfHKeb7e
			#host: wm33.wedos.net
			#dbname: d42750_priznan
			#user: a42750_priznan
			#password: 845DjQBp
			host: wm37.wedos.net
			dbname: d42750_prizn2
			user: a42750_prizn2
			password: wVdehcmC

development < common:
