services:
	activityReporter: POS\Listeners\Services\ActivityReporter
	coinListener:
		class: POS\Listeners\CoinListener
		tags: [kdyby.subscriber]
	SignRewardListener:
		class: POS\Listeners\SignRewardListener
		tags: [kdyby.subscriber]
