services:
	userDao: \POS\Model\UserDao
	formDao: \POS\Model\FormDao
	formQueryDao: \POS\Model\FormQueryDao
	confessionDao: \POS\Model\ConfessionDao
	partyDao: \POS\Model\PartyDao
	adviceDao: \POS\Model\AdviceDao
	galleryDao: \POS\Model\GalleryDao
	userGalleryDao: \POS\Model\UserGalleryDao
	userImageDao: \POS\Model\UserImageDao
	imageDao: \POS\Model\ImageDao
	videoDao: \POS\Model\VideoDao
	couple: Couple
	images: Images
	polls: Polls
	#facebook: Facebook
	news: News
	news_galleries: News_galleries
	streamDao: \POS\Model\StreamDao
	embedVideos: embedVideos
	usersFoto: UsersFoto
	eshopGames: EshopGames
	eshopGamesOrders: EshopGamesOrders