includes:
	- testconection.neon

nette:
	session:
		save_path: "%tempDir%/sessions"

services:
	userManager: \Test\UserManager
	databaseManager: \Test\DatabaseManager(%appDir%/test/sql)
	nette.mailer: \Test\MailManager(%appDir%/test/emails)
