<div id="quick-activities">
	<h3>Aktuálně:</h3>
	<ul n:snippet="list" data-ajax-append="true">
		{includeblock 'activitiesBlocks.latte'}
	</ul>
	<div class="loaderbar">
		<div class="stream-btn-next">
			<a id="next-data-item-activity-btn" n:href="getMoreData!" class="btn-main loadingbutton">zobrazit další</a>
		</div>
		<div id="quick-activity-message" class="loading-message"></div>
	</div>
</div>
