{var $activeActivities = TRUE;}

{block head}
	{control css 'activities/mobileDefault.less', 'activities/mobileStream.less'}
{/}

{block content}
	{control activities}
{/block}

{block foot}
{control js 'stream.js'}

<script>
	$(document).ready(function () {
		$("body").stream({
			addoffset: 30,
			offsetName: "conversation-offset",
			msgElement: ".stream-info-message",
			msgText: "Žádné další konverzace nebyly nalezeny."
		});
	});
</script>

{/block}