@left: 52px;
@top: 46px;

#activities {
	display:block;
	position:relative;
	float:right;
	height: 52px;
	width:82px;
	margin-right: 16px;
	a.activities-btn {
		display: block;
		height: 100%;
		img {
			margin-left: 18px;
			margin-top: 23px;
		}
	}
	.activities-btn img {
		float:left;
	}
	.closer {
		width:100%;
		height:100%;
		position:absolute;
		z-index:1000;
		cursor: pointer;
	}
	.new-counter {
		float: left;
		font-weight: bold;
		padding: 2px;
		margin-top: 14px;
		margin-left: 5px;
		background-color: #fff;
	}
}

#activities-droplink {
	display:none;
	position: absolute;
	background-color: #fff;
	top: 58px;
	right:5px;
	width:200px;
	height:150px;
	overflow-y: scroll;
	z-index:1000;
	.activity-item {
		padding:5px;
		font-size: 12px;
	}
}

#loadingDiv {
	display:none;
	height:60px;
	padding-left:84px;
	padding-top:14px;
}
