
#usermenu{

    float: right;
    display: block;
    color: white;
    position: relative;
	width: 50%;
	
	.user-btn{
		display: block;
		position: relative;
		float: right;
		height: 52px !important;
		min-width: 52px;
		background-image: url(../../images/layout/user-icons.png);
		background-repeat: no-repeat;
		background-color: transparent;
		cursor: pointer;
				
		&.with-text{
			line-height: 52px;
			color: white;
			padding-left: 40px;
		}
	}

    #droplink {
		background-position: -153px -64px;
		
		&.active{
			background-position: -153px 15px;
			font-weight: normal !important;
			color: #ddd;
		}
    }
	
	#messages-btn{
		background-position: 15px -64px;
		
		&.active{
			background-position: 15px 15px;
		}
	}
	
	.activities-btn{
		background-position: -42px -64px;
		
		&.active{
			background-position: -42px 15px;
		}
	}
	
	#coins-btn{
		background-position: -100px -64px;
		
		&.active{
			background-position: -100px 15px;
		}
	}
	
	#line-sign-in-form{
		height: 53px;
		width: 100%;
		form{
			width: 100%;
			padding: 0;
			margin: 0;
			.control-label{
				display: none !important;
			}
		}
		.form-group{
			float: left;
			max-width: 30%;
			margin: 12px 5px;
		}
		input[type="text"], input[type="password"]{
			display: block;
			width: 80%;
			height: 23px;
			padding: 3px 10%;
			border-radius: 0;
			box-shadow: 0;
			font-size: 14px;
			line-height: 1.428571429;
			color: #555555;
			background-color: #fff;
			background-image: none;
			border: 1px solid #ccc;
			-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
			box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
			-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
			transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
		}
		.checkbox{
			display: none;
		}
		
	}
	
	#line-sign-in-form input[type="submit"], .header-btn{
		width: 150px;
		padding: 0;
		background: #383436 !important;
		font-size: 14px !important;
		line-height: 29px;
		height: 29px;
		border-radius: 0;
		margin: 0;
		text-shadow: none;
		font-weight: 600;
		color: white;
		text-align: center;
	}
	
	
}

.payment-window{
	display: none;
}

#dropmenu{
	display: none;
	
}

@media screen and (max-width: 500px){
    #usermenu{
		#droplink{
			width: 50px;
			height: 52px;
			overflow: hidden;
			padding: 0;
			background: url('../../images/layout/arrow_white.png') no-repeat 10px center;
			/* padding-left: 50px; */
			color: transparent;
			border-left: 1px solid #DFBFC2;
		}
    }
}