
#usermenu{

    float: right;
    display: block;
    color: white;
    position: relative;
	width: 50%;
	
	.user-btn{
		display: block;
		position: relative;
		float: right;
		height: 52px !important;
		min-width: 52px;
		background-image: url(../../images/layout/user-icons.png);
		background-repeat: no-repeat;
		background-color: transparent;
		cursor: pointer;
				
		&.with-text{
			line-height: 52px;
			color: white;
			padding-left: 40px;
		}
	}

    #droplink {
		background-position: -153px -64px;
		
		&.active{
			background-position: -153px 15px;
			font-weight: normal !important;
			color: #ddd;
		}
    }
	
	#messages-btn{
		background-position: 15px -64px;
		
		&.active{
			background-position: 15px 15px;
		}
	}
	
	.activities-btn{
		background-position: -42px -64px;
		
		&.active{
			background-position: -42px 15px;
		}
	}
	
	#coins-btn{
		background-position: -100px -64px;
		
		&.active{
			background-position: -100px 15px;
		}
	}
	
	
}

#dropmenu{
	display: none;
	
}

@media screen and (max-width: 500px){
    #usermenu{
		#droplink{
			width: 50px;
			height: 52px;
			overflow: hidden;
			padding: 0;
			background: url('../../images/layout/arrow_white.png') no-repeat 10px center;
			/* padding-left: 50px; */
			color: transparent;
			border-left: 1px solid #DFBFC2;
		}
    }
}