img, table{
   border: 0px;
   margin: 0px;
   padding:0px;
   top:0px;
}

h1 {
	font-family: Loma, Verdana, Sans, Arial;
	font-size: 14px;
    color: #ffffff;
    font-weight: normal;

}

body {
	/*background: url(images/horni_prechod_cernazluta.png) repeat-x #d6a742;  */
text-align: center;
	margin: 0;
	padding: 0;
	list-style: none;
/**	top: -8px;
  height: 276px;
 background: #FFFFFF*/ /**#d6a742;*/     /**003333*/  /*339900*/

}

#stranka{
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 998px;
	height: 1296px;
	background: url(images/bg.png) repeat-x;
  

}

.header{

}

.cerveny_prechod{
	position: relative;
	left: -90px;
  top: -8px;
  width: 674px;
  height: 200px;
  margin: 0 auto;
  text-align: center;
  background: url(images/cerveny_prechod.png) no-repeat;
}
/******************* ROZCESTNIK *****************************/
.menu_bar{
	position: relative;
	top: -8px;
  width: 840px;
      margin: 0 auto;
      	text-align: center;
}

.stred {
   position: absolute;
   background: url(images/rozcestnik1.png) repeat-x top left; 
  	height: 60px;
    width: 840px;
    margin: 0 auto;
}

.pravo {
	position: absolute;
    background: url(images/rozcestnik1_pravo.png) no-repeat /*top left*/;
    left: 840px;
    height: 60px;
    width: 14px;

}

.levo{
   position: absolute;
    background: url(images/rozcestnik1_levo.png) no-repeat;
    left: -14px;
    height: 60px;
    width: 14px;
}

.rozdelovaci_cara {
   position: absolute;
   top: 14px;
   left: 50px;
}

.aRozdelovaci_cara {
   position: absolute;
   background: url(images/rozcestnik1_rozdelovaci_cara.png) no-repeat;
   left: 50px;
   height: 32px;
   width: 4px;
}

.bRozdelovaci_cara {
   position: absolute;
   background: url(images/rozcestnik1_rozdelovaci_cara.png) no-repeat;
   left: 200px;
   height: 32px;
   width: 4px;
}

.bar_text a {
   position: absolute;
   top: 21px;
   left: 20px;
   font-family: Arial, Verdana, Loma, Sans;
   font-weight: bolder;
   font-size: 17px;
   color: #3f3115;
   text-decoration: none;
}


.bar_text a:hover {
   position: absolute;
   top: 21px;
   left: 20px;
   font-family: Arial, Verdana, Loma, Sans;
   font-weight: bolder;
   font-size: 17px;
   color: #EEEEEE;
   text-decoration: none;
}

.akce {
   position: absolute;
   top: 0px;
   left: 0px;
}

.sablony {
   position: absolute;
   top: 0px;
   left: 115px;
}

.kontakt {
   position: absolute;
   top: 0px;
   left: 265px;
}

/**************************Panel Pulka************************/


.aPanel_pulka {
   position: relative;
   margin: 0 auto;
   text-align: center;
   top: 100px;
   left: -204px;
   width: 460px;
}

.obrazek_restaurace_1a a{
   position: absolute;
   /*background: url(images/restaurace_1a.png) no-repeat;*/
   top:75px;
   left:20px;
   height: 132px;
   width: 180px;
   border: 1px solid  #AAAAAA;

}

.obrazek_restaurace_1a a:hover{
   border: 1px solid  #DDDDDD;

}

.bPanel_pulka {
   position: relative;
   margin: 0 auto;
   text-align: center;
   top: 100px;
   left: 195px;
   width: 360px;
}

.cPanel_pulka {
   position: relative;
   margin: 0 auto;
   text-align: center;
   top: 470px;
   left: -204px;
   width: 460px;

}

.dPanel_pulka {
   position: relative;
   margin: 0 auto;
   text-align: center;
   top: 470px;
   left: 195px;
   width: 360px;
}

.horizontalni_cara {
   position: absolute;
   background: url(images/horizontalni_cara_panel.png) repeat-x;
   height: 1px;
   width: 416px;
   top:55px;
   left: 2px;
}

.horni_pozadi {
   position: absolute;
   background: url(images/panel_pul_horni.png) no-repeat;
   height: 31px;
   width: 420px;
}

.dolni_pozadi {
   position: absolute;
   background: url(images/panel_pul_dolni.png) no-repeat;
   height: 24px;
   width: 420px;
   top:300px;
}

.stred_pozadi {
   position: absolute;
   background: url(images/panel_pul_stred.png) repeat-y;
   height: 269px;
   width: 420px;
   top:31px;
}

/*********************Panel cely pruhledny****************************/

.aPanel_pruhledny_cely {
   position: relative;
   margin: 0 auto;
   text-align: center;
   top: 100px;
   left: 0px;
   width: 868px;
}

.horni_pozadi_cele_pruhledne {
   position: absolute;
   background: url(images/panel_plny_pruhledny_horni.png) no-repeat;
   height: 32px;
   width: 868px;
}

.dolni_pozadi_cele_pruhledne {
   position: absolute;
   background: url(images/panel_plny_pruhledny_dolni.png) no-repeat;
   height: 30px;
   width: 868px;
   top:300px;
}

.stred_pozadi_cele_pruhledne {
   position: absolute;
   background: url(images/panel_plny_pruhledny_stred.png) repeat-y;
   height: 268px;
   width: 868px;
   top:32px;
}

.horizontalni_cara_panel_pruhledny {
   position: absolute;
   background: url(images/horizontalni_cara_panel_pruhledny.png) repeat-x;
   height: 1px;
   width: 864px;
   top:55px;
   left: 2px;
}

.formular{
   font-size:14;
   color: white; 
   top: -20px;
   left: 40px;
   position:absolute;
   text-align: left;
}