
{define blurryImagesStyle}
	{control css 'tooltips/basicTooltip.less'}
	{* pokud uživatel má vidět některé obrázky rozmazané, přidají se na stránku tyto styly*}
	<style>
	{* co všechno se rozmazává *}
	.stream-item .imagehref img, #best-match .generatedProfile img, #image_content img, .img-container img, .generatedProfile img { filter: blur(6px);-webkit-filter: blur(6px);-moz-filter: blur(6px);-o-filter: blur(6px);-ms-filter: blur(6px); }
	{* výjimky *}
	.generatedProfile.userid{$loggedUser->id} img { filter: blur(0px) !important;-webkit-filter: blur(0px) !important;-moz-filter: blur(0px) !important;-o-filter: blur(0px) !important;-ms-filter: blur(0px) !important; }
	</style>
{/define}

{* !!! pokud měníte selektory ve stylech, je vhodné změnit je ve skriptu níže !!! *}
{define blurryImagesScripts}
	{control js 'features/blurryImagesBehavior.js'}
	<script type="text/javascript">
		;$(document).ready(function() {
			applyBlurryBehavior('.stream-item .imagehref img, #best-match .generatedProfile img, #image_content img, .img-container img, .generatedProfile:not(.generatedProfile.userid{$loggedUser->id}) img', {plink ':Profil:Edit:', 'profilePhoto' => 1});
			{ifset $showProfilePhotoWindow}
				$('.uploadProfilePhoto').trigger('click');
			{/ifset}
		});
	</script>
{/define}
