@import "../bootstrap/help/mixins.less";
/*#header{
    position: fixed;
}*/
@red-color: #cf0707;

.inner {
    width: 960px;
    
}
#onepage{
    position: relative;
}

#stream-menu{
    width: 200px;
    float: left;
    height: auto;
/*    background: white;*/
	font-family: 'Source Sans Pro', Arial, sans-serif;
	
	
	.user-profile-picture{
		.generatedProfile{
			text-align: center;
			height: 200px;
			width: 200px;
			border-radius: 50%;
			background: #f58287; /* Old browsers */
			background: -moz-radial-gradient(center, ellipse cover,  #f58287 67%, #a24a4e 70%); /* FF3.6+ */
			background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(67%,#f58287), color-stop(70%,#a24a4e)); /* Chrome,Safari4+ */
			background: -webkit-radial-gradient(center, ellipse cover,  #f58287 67%,#a24a4e 70%); /* Chrome10+,Safari5.1+ */
			background: -o-radial-gradient(center, ellipse cover,  #f58287 67%,#a24a4e 70%); /* Opera 12+ */
			background: -ms-radial-gradient(center, ellipse cover,  #f58287 67%,#a24a4e 70%); /* IE10+ */
			background: radial-gradient(ellipse at center,  #f58287 67%,#a24a4e 70%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f58287', endColorstr='#a24a4e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
			
			.box-shadow(0.5px 1px 1px 1px black);


			
			img{
				margin-top: 6px;
				width: 188px !important;
				height: 188px !important;
			}
		}
		
	}
	.big-user-name{
		font-weight: 200;
		color: @red-color;
		font-size: 40px;
		letter-spacing: -3px;
		display: block;
	}
	
	.first-sentence{
		font-size: 14px;
	}
	
	.delimiter{
		background:black;
		height: 1px;
		width: auto;
		margin: 5px 0;
		
		&.red{
			background: @red-color;
		}
		&.top{
			margin-top: 20px;
		}
	}
	
		
	.usermenu{
		
		font-weight: 900;
		
		
		&.red{
			a{
				color: @red-color !important;
			}
		}
		
		a{
			display: block;
			color: black;
			padding: 2px 4px 2px 32px;
			font-size: 16px;
			line-height: 30px;
			letter-spacing: -1px;
			background-size: 17px;
			background-position: left center;
			background-color: transparent;
			background-repeat: no-repeat;
			
			&.add-friend{
				background-image: url(../../images/icons/menu/add-friend.png) ;
			}
			&.add-gallery{
				background-image: url(../../images/icons/menu/add-gallery.png) ;
			}
			&.cross{
				background-image: url(../../images/icons/menu/cross.png) ;
			}
			&.edit{
				background-image: url(../../images/icons/menu/edit.png) ;
			}
			&.friends{
				background-image: url(../../images/icons/menu/friends.png) ;
			}
			&.profile{
				background-image: url(../../images/icons/menu/profile.png) ;
			}
			
		}
	}
    
}
#right-dock{
    background: white;
    position: absolute;
    top: 0;
    right: 0;
    width: 180px;
    
}

#best-match{
	a{
		margin-left: 16px;
	}
}

