{block head}
{control css 'search/default.less'}
{/block}
{block foot}
{/block}
{block content}

{includeblock 'navigation/searchNavigation.latte'}

{control newlyRegistredSearch 'listAll'}

{/block}
