{snippet}
{if !$visible}
<a n:href="loadComment!" class="show_comments_button">Vložit komentář</a>
{else}
<div id="comments-confession{$confessionId}" class="fb-forum fb-comments-container">
	<div class="fb-comments" data-href="http://www.priznaniosexu.cz/page/{$fb}?id={$confessionId}" data-width="390" data-num-posts="2"></div>
        <script type="text/javascript">FB.XFBML.parse(document.getElementById('comments-confession{$confessionId}'));//revalidace fb komponent</script>
</div>
{/if}
{/snippet}