{layout '../BaseGallery/baseGallery.latte'}

{* competition bloky *}

{define menuButtons}
<a href="{plink UsersCompetitions:listImages galleryID => $gallery->id}"  class="btn-main btn-small">
	celá galerie
</a>
<a href="{plink Competition:list}"  class="btn-main btn-small">
	seznam soutěží
</a>
{/}

{define imageComment}
{$image->description}
{/}

	
{define uploadImage}
	<a href="{plink Competition:uploadCompetitionImage galleryID => $gallery->id}" id="add-photo-button" class="btn-main medium right">
		nahrát fotku
	</a>
{/}

{define imageMainScreen}
	<img src="{$image|getImgPath:'g'}" alt="{$image->name}" 
		style = "padding: {!$imgPaddingTopBottom}px {!$imgPaddingLeftRight}px;"
		width="{$image->widthGalScrn}" height="{$image->heightGalScrn}" />
{/}

{define likes}
	{control likes}
{/}

{define comments}
	{control comments}
{/}