{block head} 
{control css "bootstrap/forms-full.less"}
{/}
{block content}
	{control verificationForm}
	<p>Na ověřovací fotce musí být zřetelně vidět vaše username, například na kousku papíru.</p>
{/block}