@import "../variables.less";
@import "../bootstrap/help/mixins.less";


#stream{
    width: 520px;
    float: left;
    margin: 0 15px;
/*    .box-shadow(4px 0 2px #aaa);*/
    
}

body{
    background-color: #e9eaee;
}

.stream-item-layout {
	border: 1px solid @stream-weak-color;
    border-color: @stream-weak-bordercolor;
    font-family: 'Exo', Arial, sans-serif;
    background: white;
    margin: 0;
    margin-bottom: 4px; 
    padding: 15px 5px;
}
.stream-form {
	.stream-item-layout;
	padding: 5px;
}
.stream-item{
    
/*    border-top: @stream-line;*/
    .stream-item-layout;
    h3{
	color: @main-red;
	font-size: 20px;
	display: inline;
    }
    
    .divider{
	display: inline;
	font-size: 18px;
	font-weight: 400;
	color: #999;
    }
    .imagehref{
	display: block;
	width: 100%;
    }
    .imagehref img{
	display: block;
	width: 100%;
	margin: 10px 0;
    }
    
    a h3:hover, p a, strong a{
	text-decoration: underline;
    }
    p, strong{
	font-size: 13px;
	font-family: 'Helvetica Neue', Helvetica, Arial,tahoma,verdana,arial,sans-serif;
    }
	p {
		margin-bottom: 15px;
	}
}
.loadingbutton{
    display: block;
}
#stream-loader{
    display: block;
    text-align: center;
	
}
.loaderbar{
    background: white;
    padding: 0px;
    border: 1px solid @stream-weak-color;
    border-color: @stream-weak-bordercolor;
    .stream-message{
	padding: 8px;
	font-family: Arial, sans-serif;
	font-size:13px;
    }
    .stream-btn-next, #stream-loader {
	padding: 10px;
	
    }
}
 



