@import "../variables.less";
@import "../bootstrap/help/mixins.less";


//nefunguje import mixinů TODO: spravit mixiny a smazat tuto definici
// Vertical gradient, from top to bottom
  //
  // Creates two color stops, start and end, by specifying a color and position for each color stop.
  // Color stops are not available in IE9 and below.
  .vertical(@start-color: #555; @end-color: #333; @start-percent: 0%; @end-percent: 100%) {
    background-image: -webkit-linear-gradient(top, @start-color @start-percent, @end-color @end-percent);  // Safari 5.1-6, Chrome 10+
    background-image: linear-gradient(to bottom, @start-color @start-percent, @end-color @end-percent); // Standard, IE10, Firefox 16+, Opera 12.10+, Safari 7+, Chrome 26+
    background-repeat: repeat-x;
    filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",argb(@start-color),argb(@end-color))); // IE9 and down
  }


#stream{
    width: 520px;
    float: left;
    margin: 0 15px;
	/*    .box-shadow(4px 0 2px #aaa);*/

}

body{
    background-color: #e9eaee;
}

.stream-input {
	border: 1px solid @stream-weak-color;
	margin-bottom: 4px;
	padding: 3px;
}

.stream-item-layout {
    border-color: @stream-weak-bordercolor;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    background: white;
    margin: 0;
    padding: 15px 5px;
	.stream-input;
}

.stream-form {
	width: 520px;
	#stream-form-tabs li{
		display: inline-block;
		padding: 0;
		margin: 0;
		margin-bottom: 10px;
		width: 32%;
		height: 40px;
		line-height: 40px;
		
		font-family: 'Source Sans Pro', Arial, sans-serif;
		text-align: center;
		font-size: 14px;
		font-weight: 900;
		
		
		.vertical(lighten(@main-dark, 20%), @main-dark);
		
		&.ui-tabs-active{
			.vertical(@main-red-light, @main-red-dark);
		}
		margin-right: 1%;
		&.last{
			margin-right: 0;
		}
		
		a{
			color: white;
			display: block;
			
		}
	}
	
	.ui-tabs-panel{
		.stream-item-layout;
		position: relative;
		
		.tab-arrow{
			position: absolute;
			top: -9px;
			width: 0;
			height: 0;
			left: 0;
			border-left: 10px solid transparent;
			border-right: 10px solid transparent;
			border-bottom: 10px solid white;
			
			&.first{
				left: 14%;
			}
			&.second{
				left: 48%;
			}
			&.third{
				left: 82%;
			}
		}
		
	}
		
	.stream-add-images{
		font-family: Arial, sans-serif;
		input[type="text"] {
			.stream-input;
			border-radius: 6px;
		}
		fieldset{
			padding: 5px 5px 10px 5px;
			border-bottom: 1px solid #DFE0E4;
		}
		fieldset:last-child{
			border-bottom: none;
		}

		label {
			font-weight: 600;
			min-width: 150px;
		}
		label, .controls{
			display: inline-block;
		}
		.form-group{
			padding: 5px 0;
		}
	}
}
.stream-item{

	/*    border-top: @stream-line;*/
    .stream-item-layout;
    h3{
		color: @main-red;
		font-size: 20px;
		display: inline;
    }

    .divider{
		display: inline;
		font-size: 18px;
		font-weight: 400;
		color: #999;
    }
    .imagehref{
		display: block;
		width: 100%;
    }
    .imagehref img{
		display: block;
		width: 100%;
		margin: 10px 0;
    }

    a h3:hover, p a, strong a{
		text-decoration: underline;
    }
    p, strong{
		font-size: 13px;
		font-family: 'Helvetica Neue', Helvetica, Arial,tahoma,verdana,arial,sans-serif;
    }
	p {
		padding: 5px 15px;
		margin-bottom: 5px;
	}
	
	.react-menu{
		text-align: right;		
		padding: 2px 25px;
		
		a{
			color: @main-red;			
		}
	}
	
	.dotline{
		width: 90%;
		margin: 0 5%;
		border-top: 1px dashed #ccc;
		border-bottom: 1px dashed #eee;
		
		&.bright{
			border-bottom: 0;
			border-top: 1px dashed #efefef;
		}
	}
	
}
.loadingbutton{
    display: block;
}
#stream-loader{
    display: block;
    text-align: center;

}
.loaderbar{
    background: white;
    padding: 0px;
    border: 1px solid @stream-weak-color;
    border-color: @stream-weak-bordercolor;
    .stream-message{
		padding: 8px;
		font-family: Arial, sans-serif;
		font-size:13px;
    }
    .stream-btn-next, #stream-loader {
		padding: 10px;

    }
}

#profile-photo-upload {
	width:520px;
	margin:5px 0;
	background: #fcf8e3;
	border: 1px solid #faebcc;
	padding: 15px;
	font-size: 16px;
	font-family: 'Helvetice Neue',
		Helvetica, Arial, tahoma, verdana,
		arial, sans-serif;
	color: #333;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	
	.highlight {
		color:#8a6d3b;
		font-weight: bold;
	}
	
	.btn-main.medium {
		width: 100%;
		margin: 5px 0;
	}
	
	#frm-userStream-uploadPhotoForm {
		margin: 5px 0;
	}
}





