@import "../variables.less";
@import "../bootstrap/help/mixins.less";


#stream{
    width: 520px;
    float: left;
    margin: 0 15px;
    .box-shadow(3px 0 2px #aaa);
}

body{
    background-color: #e9eaee;
}

.stream-item{
    
    border-top: @stream-line;
    font-family: 'Exo', Arial, sans-serif;
    background: white;
    margin: 0;
    padding: 15px 5px;
    
    h3{
	color: @main-red;
	font-size: 20px;
	display: inline;
    }
    
    .divider{
	display: inline;
	font-size: 18px;
	font-weight: 400;
	color: @stream-weak-color;
	
    }
    .imagehref{
	display: block;
	width: 100%;
    }
    .imagehref img{
	display: block;
	width: 100%;
	margin: 10px 0;
    }
    
    a h3:hover{
	text-decoration: underline;
    }
    
    
    
    
}
.loadingbutton{
    display: block;
}
#stream-loader{
    display: block;
    margin: 20px;
    text-align: center;
	
}



