{snippet 'cropImageUpload'}
{ifset $uploadedImagePath}
		<img src="{$basePath}/images/temp/{$uploadedImagePath}" alt="Prosím nastavte oříznutí obrázku" />
		{control afterUploadForm}
		
	{else}
		{control firstImageUploadForm}
{/ifset}
{/snippet}
