{block content}
<div style="margin-bottom:10px">
	<a class="btn btn-success" n:href="Cities:addCity">Přidat město</a>
	<a class="btn btn-success" n:href="Cities:addDistrict">Přidat okres</a>
	<a class="btn btn-success" n:href="Cities:addRegion">Přidat kraj</a>
	<a class="btn btn-info" n:href="Cities:insertData">Vložit hromadně</a>
</div>
	{control grid}
{/block}