{block nav}
<h2>Vyhledávání osob</h2>

<nav class="horizontal-menu btn-cnt-5">

<a n:href="Search:">Nejlepší shoda</a>

<a n:href="Search:newlyRegistered">Nově registrovaní</a>

<a n:href="Search:nearMe">Blízko mě</a>

<a n:href="Search:vigor">Podle znamení</a>

<a n:href="Search:advanced">Pokročilé hledání</a>

</nav>
<div class="clear"></div>
{/block}
