{block nav}
<h1>Vyhledávání osob</h1>

<a n:href="Search:">Nejlepší shoda</a>

<a n:href="Search:newlyRegistered">Nově registrovaní</a>

<a n:href="Search:nearMe">Blízko mě</a>

<a n:href="Search:advanced">Pokročilé hledání</a>
{/block}
