{* Latte template *}

{block content}
{* drobečkové menu - nyní nemá význam*}
{*control navigation:breadcrumbs*}
{if $myGallery}
	{control myUserGalleries $mode}
{else}
	{control userGalleries $mode, $userID}
{/if}

{/}
{block foot}
{if $myGallery}
<script type="text/javascript" src="{$basePath}/js/bootstrap-modal.min.js" ></script>
{/if}
{/}

