{block content}

<div class="top-container">
	{control navigation:breadcrumbs}
	<a href="{plink :OnePage:}" id="add-photo-button" class="btn-main btn-small right">
		zpět na stream
	</a>
</div>
<div class="clear"></div>

{if $myGallery}
	{control myUserImagesInGallery "listAll"}
{else}
	{control userImagesInGallery "listAll", $galleryOwner}
{/if}

{/}
{block foot}
{if $myGallery}
<script type="text/javascript" src="{$basePath}/js/bootstrap-modal.min.js" ></script>
{/if}
{/}
{block pageContent}