{block head}
{*<link rel="stylesheet" href="{$basePath}/css/bonuses.css" type="text/css">*}
<link rel="stylesheet" href="{$basePath}/css/slimbox/slimbox2.css" type="text/css">
<script type="text/javascript" src="{$basePath}/js/confirm_adult.js" ></script>  
{control css "competition/listImages.less"}
{/} 
{block content}
 
 {control userGalleryChange}
 