<div n:snippet="friends" data-ajax-append="true">
{ifset $friends}
	{foreach $friends as $friend}
		<div class="friend-item-container{if $iterator->getCounter() % 3 == 0} third-multiple{/if}">
		{$friend->user2|showProfDiv}
		</div>
	{/foreach}
{/ifset}
</div>
<script>
	var loadFriendLink = {link getMoreData!};
</script>