{foreach $friends as $friend}
	{if $iterator->isFirst()}
		<h2>Přátelé</h2>
		<table>
			<thead>
			<th></th>
		</thead>
		<tbody>
	{/if}
	<tr>
		<td>{$friend->user2|showUserMin}</td>
	</tr>
	{if $iterator->isLast()}
		</tbody>
		</table>
	{/if}
{/foreach}