body{
    
}

#left-side, #kiss, #topmenu, #news, .question, #next_admission{
    display: none;
}
.inner, #header{
    width: 100%;
}
footer{
    padding: 0;
}
#left_confession, #right_confession, #confession{
    float: none !important;
    padding: 3% !important;
    width: 94% !important;
    border-left: none !important;
    border-right: none !important;
}
#confession{
    border: none !important;
}
#right_confession{
    border-top: none !important;
    margin-top: 0px !important;
}
header h1{
    padding-left: 5%;
}
footer *{
    float: none !important;
    text-align: center !important;
}
.paginator{
    width: 100% !important;
    text-align: center !important;
    margin: 0 !important;
    padding: 0 !important;
}
.paginator div{
    padding: 0 !important;
    float: none !important;
}
.paginator .paginator-right, .paginator .paginator-left{
    width: 30% !important;
    height: 70px !important;
    display: block !important;
}
.paginator .paginator-left{
    float: left !important;
}
.paginator .paginator-right{
    float: right !important;
}
.paginator span{
    display: block !important;
    width: 30% !important;
    float: left !important;
    padding-top: 29px !important;
    text-align: center !important;
}
.paginator a {
    display: none;
}

.fb-components-3-more, .fb-components-2, .fb-components-1, .fb-components, .fb-components-0{
    margin-top: 0px !important;
    min-height: 0px !important;
}
/*.fb-forum{
    display: none;
}*/
