{block head}
{*<link rel="stylesheet" href="{$basePath}/css/bonuses.css" type="text/css">*}
{*<link rel="stylesheet" href="{$basePath}/css/slimbox/slimbox2.css" type="text/css">*}
<script type="text/javascript" src="{$basePath}/js/confirm_adult.js" ></script>
{control css "competition/listImages.less", "bootstrap/modals.less"}
{/}

{block foot}
{*<script type="text/javascript" src="{$basePath}/js/jquery-1.7.1.min.js" ></script>*}
{*<script type="text/javascript" src="{$basePath}/js/slimbox2.js" ></script>*}
{ifset #scripts}
	{include #scripts}
{/ifset}
{/block}


{block beforeContent}
<section class="inner imgs-container">
	<div class="top-container">
		<a href="{plink :Profil:Show: $userData->id}">{$userData->user_name}</a>
	</div>
	<div class="clear"></div>
	{ifset #addNewGallery}
		{include #addNewGallery}
	{/ifset}
	{foreach $galleries as $gallery}
		<div class="img-container {if $iterator->getCounter() % 3 == 0}third-multiple{/if}">
			{ifset #galleryEditButtons}
				{include #galleryEditButtons "gallery" => $gallery, "iterator" => $iterator}
			{/ifset}
			{if $accessData[$gallery->id]}
				{if $gallery->lastImageID && $gallery->bestImageID}
					<img src="{$basePath}/images/userGalleries/{$userData->id}/{$gallery->id}/minSqr{$gallery->bestImageID}.{$gallery->lastImage->suffix}" width="100%" height="100%"/>
				{/if}

				<a class="view" href="{plink Galleries:listUserGalleryImages galleryID => $gallery->id}">{$gallery->name} {if $gallery->private}<br />(soukromá){/if}</a>
			{else}
				<img src="{$basePath}/images/icons/Lock-icon.png" title="{$gallery->name}" width="100%" height="100%"/>
			{/if}
		</div>

    {/foreach}
	<div class="clear"></div>
</section>
{/}

{block pageContent}
