{if $sexy}
	<span class="ui-block-a ui-btn ui-shadow ui-btn-active"><span class="thin">JE</span> SEXY</span>
{else}
	<a n:href="youAreSexy!" title="Označit jako sexy" class="ui-block-a ui-btn ui-shadow"><span>JSI</span> SEXY</a>
{/if}