{block head}
	{control css 'gopay/default.less'}
{/block}

{block content}
<table id="tabulka">
	<tr><td>1</td><td>2</td></tr>
	<tr><td>3</td><td>4</td></tr>
	<tr><td>5</td><td>6</td></tr>
</table>
{/block}

{block scripts}

{/block}

{block foot}