{var $robots = noindex}

{block head}
<link rel="stylesheet" href="{$basePath}/css/form.css" type="text/css">
{/block}

{block #content}

<h1>Přihlašte se</h1>

<h2><a href="{$fbUrl}">Facebook</a></h2>

{*<h2><a href="{$twitterUrl}">Twitter</a></h2>*}

<h2>Mail a heslo</h2>

{control signInForm}


