{block head}
	{control css 'bootstrap/forms-medium.less', 'user/authentication.less'}
{/block}


{block content}
<div class="form fullsize">
	<h2>Přihlášení</h2>
	{control signInForm}
	<div class="clear"></div>
	<p class="registration">
	Nejste ještě zaregistrováni? <a n:href="Sign:registration" title="registrace">Zaregistrujte se zde</a>.
	</p>
	<h2>Zapomenuté heslo</h2>
	{control forgottenPasswordForm}
</div>
{/block}
