{block head}
	{control css 'bootstrap/forms-medium.less', 'user/authentication.less'}
{/block}


{block content}
<div class="form fullsize">
	<h2>Registrace</h2>
	{control registrationForm}
</div>
{/block}
