{var $activeHome = TRUE;}

{block head}
    {control css 'onepage/mobileDefault.less'}
{/block}

{block content}
	<div id="best-match">
		{if $user->isLoggedIn()}
			{if $loggedUser->propertyID}
				{control bestMatchSearch 'listMobile'}
			{else} {* vyzve uživatele k dokončení registrace *}
				Pokud se chcete seznámit, vyplňte o sobě <a n:href="DatingRegistration:" class="ui-btn">další informace</a>.
			{/if}
		{/if}
	</div>
{/block}


