{* Latte template *}

{block menu}
<nav>
	<span><a n:href=":Profil:Edit:default">Změna informací</a></span>
	<span><a n:href=":Profil:edit:friendRequests">Žádosti o přátelství</a></span>
	<span><a n:href=":Profil:edit:userImages">Moje fotky</a></span>
</nav>
{/block}
