{block head}
	<link rel="stylesheet" href="{$basePath}/css/slimbox/slimbox2.css" type="text/css">
	<link rel="stylesheet" href="{$basePath}/css/bootstrap.min.css" type="text/css">
	<style>
	h1 {
		margin-top: 0;
	}
    </style>
	{control css 'profile/edit.less'}
{/block}
{block foot}
	{control js}
{/block}
{block content}
<h2>Galerie</h2>
<div class="clear"></div>
{include 'menu.latte'}
<div class="clear"></div>

{control myUserGalleries 'listAll', $paying}

{/block}