{layout '../BaseStream/baseStream.latte'}

{define addNewPost}
		<div class="stream-form">
			<ul id="stream-form-tabs">
				{if $user->isLoggedIn()}
					<li><a href="#tabs-1">Status</a></li>
					<li class="separator"></li>
				{/if}
				<li><a href="#tabs-2">Přiznání</a></li>
				<li class="separator"></li>
				<li class="last"><a href="#tabs-3">Fotky</a></li>
			</ul>
			{if $user->isLoggedIn()}
				<div id="tabs-1">
					{form statusForm}
						{input message class=>'form-field', rows => 3}
						<div class="submit-container">
							{input submit class => 'submit-button'}
						</div>
					{/form}
				</div>
			{/if}
			<div id="tabs-2">
				{form addConfessionForm class=>'form-container'}
					{input note class=>'form-field', placeholder=>'Přiznej se...', rows => 3}
					<div class="submit-container">
						{input submit class => 'submit-button'}
					</div>
					{label nick class => 'hidden' /}
					{input nick class => 'hidden'}
				{/form}
			</div>
			<div id="tabs-3">
				{if $user->isLoggedIn()}
					{control newStreamImageForm}
				{else}
					Pro přidávání fotek se <a href="{plink :Sign:in}">přihlaš</a> nebo <a href="{plink :Sign:registration}">registruj</a>.
				{/if}
			</div>
		</div>
{/}
