<ul class="best-search">
	{foreach $items as $item}
		<li>
			{if $mode == 'listAll'}
				{$item|showProfSearch: array(':Profil:Show:default', 'id' => $item->id)}
			{else}
				{$item|showProfMinDiv: array(':Profil:Show:default', 'id' => $item->id)}
			{/if}
		</li>
	{/foreach}
	<li class="last">
	{if ($mode == 'listFew')}
		<a href="{plink Search:Search:}" class="more-btn"></a>
	{/if}
	{if ($mode == 'listMobile')}
		<a href="{plink Search:Search:}" class="more-btn">
			<img src="{$basePath}/images/userSearch/search-arrow.png" alt="další..."/>
		</a>
	{/if}
	</li>
	<div class="clear"></div>
</ul>

