@import "../variables.less";
@import "articleLayout.less";

/* články v blogu */
.page {
	background-color: #eee;
	.left-article {
		float: left;
		background-color: white;
		padding: 0 40px;
		padding-bottom: 50px;
		article, .paginator{
			max-width: 630px;
		}
		article{
			font-family: 'Helvetica';
			font-size: 15px;
			text-align: justify;
			font: 16px/1.65 Georgia,"New York CE",utopia,serif;
			color: #474747;

			h1 {
				font-size: 300%;
				margin: .8em 0;
				text-align: left;
			}
			h1, h2, h3 {
				color: @main-red-light;
				font-family: lucida,sans-serif;
			}
			.excerpt {
				font-size: 115%;
				font-style: italic;
				color: gray;
				padding-bottom: 1.5em;
				margin-bottom: 1.5em;
				border-bottom: 1px solid #DEDEDE;
			}
			a {
				.link;
			}
			a:hover {
				.link-hover;
			}
			ol {
				margin: 0;
				padding: 15px 0;
				padding-left: 50px;
				li{
					margin: 0;
				}
			}
			ul{
				margin: 0;
				padding: 15px 0;
				padding-left: 50px;
				li{
					list-style-type: disc;
				}
			}
			code {
				max-width: 700px;
			}
			hr{
				max-width: 700px;
				height: 1px;
				background-color: #DEDEDE;
				margin: 25px 5px;
			}
			img{
				width: 100%;
			}
			p {
				margin-bottom: 15px;
			}
		}

		.paginator {
			font-family: lucida,sans-serif;
			font-size: 20px;

			a {
				.link;
			}
			a:hover {
				.link-hover;
			}

			.arrow-left {
				display: inline-block;
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 8px 16px 8px 0;
				border-color: transparent #ff0000 transparent transparent;
				margin-right: 5px;
				margin-top: 2px;
				&:hover {
					border-color: transparent #fff transparent transparent;
				}
			}

			.arrow-right {
				display: inline-block;
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 8px 0 8px 16px;
				border-color: transparent transparent transparent #ff0000;
				margin-left: 5px;
				margin-top: 2px;
				&:hover {
					border-color: transparent transparent transparent #fff;
				}
			}
		}
		.fb-like {
			padding: 20px 0 30px 0;
		}

		.fb-comments{
			margin-top: 50px;
		}
	}
	.right-menu {
		width: 225px;
		float: left;
		text-align: left;
		
		a{
			color: #777;
			line-height: 1.45;
			font-size: 80%;
			padding: 3px;
			margin: 0 -3px;
		}
		a:hover {
			background-color: #fe9430;
			color: white;
			border-radius: 2px;
		}
		
		margin: 150px 0 0 15px;
		
		h3 {
			color: #fe9430;
			margin-bottom: 15px;
		}
	}
}


.link{
	text-decoration: underline;
	color: @main-red;
	padding: 3px;
	margin: 0 -3px;
}

.link-hover {
	background-color: @main-red-light;
	color: white;
	border-radius: 2px;
}

@media screen and (max-width: 980px) {
	.inner {
		margin: 0;
		width: auto;
	}
	.page {
		.left-article {
			article, .paginator{
				max-width: 550px;
			}
		}
	}
}

@media screen and (max-width: 890px) {
	.page {
		.left-article {
			article, .paginator{
				max-width: 480px;
			}
		}
	}
}

@media screen and (max-width: 820px) {
	.page {
		.left-article {
			padding-left: 20px;
			padding-right: 20px;
			article, .paginator{
				max-width: 450px;
			}
		}
	}
}

@media screen and (max-width: 750px) {
	.right-menu {
		display: none;
	}
	.page {
		.left-article {
			padding-left: 4%;
			padding-right: 4%;
			article, .paginator{
				max-width: none;
				width: 92%;
			}
		}
	}
}
@media screen and (max-width: 600px) {
	#usermenu {
		display: none;
	}
}