@oddbackground: #f6e8e8;
@evenbackground: #fafcfb;
@origame-width: 1000px; /*  */
@heading-color: #ae0303; /* nadpisy */
@light-red-color: #d42626;



.game-container{
    background: @evenbackground;
}
.oddbackground {
    background: @oddbackground;
    
}

.oddlink{
    color: @light-red-color !important;
}

#games-description{
    text-align: left;
    width: @origame-width;
    margin: 20px auto;
}
#games-description span{
    color: @light-red-color !important;
}
#games-description span.capital{
    line-height: 50px;
    text-transform: uppercase;
}

#kiss{
    display: none;
}

#right-block{
    float: right;
}
#topnav{
    text-align: right;
}
#botnav{
    margin-top: 140px;
    text-align: center;
}
#botnav a, #botnav span {
    color: @heading-color;
}

a.link{
    
}
a.link:hover {
    text-decoration: underline;
}

.tag{
    display: block;
    text-align: right;
}

#gamehead{
    padding: 20px 20px 20px 30px;
    width: @origame-width;
    margin: 0 auto;
}
#gamehead h1{
    font-family: 'Exo';
    color: @heading-color;
    font-weight: 300;
    float: left;
    font-size: 60pt;
    width: 500px;
}


#contact{
    width: @origame-width;
    margin: 0 auto;
}
.btn-main{
    margin: 0 !important;
}

.form-games{
    width: 700px;
    float: right;
}
.contact {
    float: left;
    width: 300px;
}
.contacttitle {
    font-family: 'Exo';
    color: @heading-color;
    font-weight: 600;
    font-size: 30pt;
}
.game {
    padding: 20px 0 0 0;
    width: @origame-width;
    margin: 0 auto;
    position: relative;
    min-height: 400px;
}
.game article {
    margin-left: 290px;
    padding-bottom: 20px;
}

.btn-main {
    margin: 10px auto;
}

.game article h2{
    font-family: 'Exo';
    font-weight: 200;
    font-size: 50pt;
    color: @heading-color;
}
.game article p.description {
    text-align: justify;
    font-size: 13pt;
    padding: 10px 0;
}

.game article .price{
    font-family: 'Exo';
    font-weight: 800;
    font-size: 16pt;
    text-align: center;
    padding: 20px 0;
}

img.poster{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 280px;
}

.container {
    margin: 30px 0;
}

section.inner{
    width: auto;
}