	<div id="activities">
			<a class="activities-btn"></a>
		<div id="activities-droplink">
		{snippet}
			<div id="loadingDiv">
				<img src="{$basePath}/images/ajax-loader.gif">
			</div>
			<a class="ajax marker" n:href="allViewed!">Označit jako přečtené</a>
			{/snippet}
		</div>
	</div>