{block head}

{/block}

{block content}
	<h3>Celkový počet uživatelů: {$totalCount}</h3>
	<h3>Mužů: {$countMan}, Žen: {$countWoman}, Pár: {$countCouple}, Pár mužů: {$countCoupleMen}, Pár žen: {$countCoupleWomen}, Skupina: {$countGroup}</h3>
	<h2>Návštěvnost</h2>
	<a href="http://www.google.com/analytics/">google analytisc</a>
{/block}
