{block head}
	<link rel="stylesheet" href="{$basePath}/css/slimbox/slimbox2.css" type="text/css">
	<link rel="stylesheet" href="{$basePath}/bootstrap/css/bootstrap.css" type="text/css">
	<link rel="stylesheet" href="{$basePath}/css/paginator.css" type="text/css">
{/block}
{block foot}
	<script type="text/javascript" src="{$basePath}/js/slimbox2.js" ></script>
{/block}
{block content}
{include default.latte}
<h1>Nově registrované uživatelé</h1>

<table>
		<tr>
			<th>Uživatelské jméno</th>
			<th>Pohlaví</th>
			<th>Věk</th>
			<th>Datum registrace</th>
			<th></th>
		</tr>
	
	{foreach $usersData as $foundUser}	
		<tr>
			<td><a href="{plink :Profil:ShowProfil:default $foundUser->id}">{$foundUser->user_name}</a></td>
			<td>{$foundUser->type}</td>
			<td>{$foundUser->age}</td>
			<td>{$foundUser->created}</td>
			<td>
				{foreach $fotos as $foto}
					{if $foundUser->id == $foto->userId}
					<!--<a href="{$basePath}/images/users/profils/{$foundUser->id}/{$foto->id}.{$foto->suffix}" rel="lightbox[gallery]">-->
					<a href="{plink :Profil:ShowProfil:default $foundUser->id}">				
					<img src="{$basePath}/images/users/profils/{$foundUser->id}/mini{$foto->id}.{$foto->suffix}" alt="{$foto->description}">
					</a>
					{/if}
				{/foreach}
			</td>
		</tr>
	{/foreach}
</table>
 
{control vp}

{/block}
