{block head}
	{control css 'bootstrap/forms-medium.less'}
	<style>
		#contact-form{ max-width: 400px;}
	</style>
{/block}

{block content}
	<h2>Kontaktujte nás</h2>
	<div id="contact-form">
		{control contactForm}
	</div>
{/block}