{block head}
	<link rel="stylesheet" href="{$basePath}/css/form.css" type="text/css">
{/block}


{block content}
<div class="form fullsize">
	<h2>Přihlášení</h2>
	{control signInForm}
	<hr />
	<h2>Zapomenuté heslo</h2>
	{control forgottenPasswordForm}
</div>
{/block}
