{layout '../BaseGallery/baseGallery.latte'}

{* competition bloky *}

{define menuButtons}
{if $paying}
	{if $userID == $gallery->userID}
		<a href="{plink Galleries:userList $gallery->id}" class="btn-main btn-meidum right">
			přístup
		</a>
<a href="{plink deleteImage! id_image => $image->id, id_gallery => $gallery->id}" class="btn-main medium right">Smazat obrázek</a>
	{/if}
{/if}
{/}

{define imageComment}
	
{/}

{define uploadImage}
	{if $userID == $gallery->userID}
		<a href="{plink Galleries:verificationImageNew}" id="add-photo-button" class="btn-main medium right">Nahrát ověřovací fotku</a>
	{/if}
{/}
 
{define imageMainScreen}
	<img src="{$image|getImgPath}" alt="{$image->name}"
		style = "padding: {!$imgPaddingTopBottom}px {!$imgPaddingLeftRight}px;"
		width="{$image->widthGalScrn}" height="{$image->heightGalScrn}" />
{/}

{define likes}

{/}