/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30.7.2014, 9:36:40
    Author     : Jan Kotalík <jan.kotalik.pro@gmail.com>
*/

#contacts, #conversations{
	position: fixed;
	top: 0;
	right: 0;
	width: 300px;
	background: white;
	z-index: 15000;
	
		li{
			cursor: pointer;
			width: 260px;
			padding: 5px 20px;			
		}
		
	
}

#conversations {
	right: 500px;
}

