{layout '../BaseUserGalleriesThumbnails/baseGallery.latte'}

{define addNewGallery}
<div class="img-container">
	<img src="{$basePath}/images/layout/plus-gallery2.png" width="100%" height="100%"/>			
	<a href="{plink Galleries:userGalleryNew}">Přidat novou galerii</a>
</div>
{/}

{define galleryEditButtons}
	{if !($gallery->private && !$paying)} {* tlačítka se nezobrazí, pokud je galerie private a už. je neplatící *}
		<a href="{plink Galleries:userGalleryChange galleryID => $gallery->id}" class="btn-action btn-edit" title="editovat galerie"></a>
		{var $link = array('deleteGallery!', array(galleryID => $gallery->id) )}
		{control deleteGallery $gallery->id, $gallery->name, $link}
	{/if}
{/}
