{layout '../BaseUserGalleriesThumbnails/baseGallery.latte'}

{define addNewGallery}
<div class="img-container">
	<img src="{$basePath}/images/layout/plus-gallery2.png" width="100%" height="100%"/>			
	<a href="{plink Galleries:userGalleryNew}">Přidat novou galerii</a>
</div>
{/}

{define modalDeleteGallery}
{control deleteGallery $gallery->id, $gallery->name}
<div id="MyModal{$gallery->id}" class="modal fade">
<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<h3 id="myModalLabel">Smazat galerie {$gallery->id}?</h3>
		</div>
		<div class="modal-body">
			<p>Opravdu chcete smazat galerie {$gallery->name}?</p>	
		</div>
		<div class="modal-footer">
			<a href="{plink deleteGallery! galleryID => $gallery->id}" class="btn btn-success">
				Ano
			</a>
			<button  class="btn" data-dismiss="modal" aria-hidden="true">Ne</button>
		</div>
	</div>
</div>
</div>
{/}

	{define galleryEditButtons}
	{if $gallery->private}
		{if $paying}
			<a href="{plink Galleries:userGalleryChange galleryID => $gallery->id}" class="btn-action btn-edit" title="editovat galerie"><img src="{$basePath}/images/icons/gly_edit.png"/></a>
			<a data-toggle="modal" href="#MyModal{$gallery->id}" class="btn-action btn-delete" title="smazat galerie"><img src="{$basePath}/images/icons/gly_remove.png"/></a>
		{/if}
	{else}
		<a href="{plink Galleries:userGalleryChange galleryID => $gallery->id}" class="btn-action btn-edit" title="editovat galerie"><img src="{$basePath}/images/icons/gly_edit.png"/></a>
		<a data-toggle="modal" href="#MyModal{$gallery->id}" class="btn-action btn-delete" title="smazat galerie"><img src="{$basePath}/images/icons/gly_remove.png"/></a>
	{/if}
	{/}
