
{block datingContent}
<div class="form-window">
	{control matchingUsers}
	<h2 class="window-title">KROK 3 ze 4</h2>
	<div class="window-content second-form">
	{control thirdRegForm}
	</div>
</div>
{/block}

