{layout '../BaseUserGalleryImagesThumbnails/baseUserGalleryImagesThumbnails.latte'}

{define imageLink}
	<a class="view" href="{plink Galleries:image imageID => $image->id, galleryID => $image->galleryID}">{$image->name}</a>
{/}