{block beforeContent}
<section class="content">
	<div id="stream">
		{ifset #addUserInfo}
				{include #addUserInfo}
		{/ifset}
		{ifset #addNewPost}
				{include #addNewPost}
		{/ifset}
		<div n:snippet="posts" data-ajax-append="true">
			{foreach $stream as $dataItem}
				<div class="stream-item">
					{ifset $dataItem->userGalleryID}
						{if $user->isLoggedIn()}
							<a href="{plink :Profil:Galleries: userID => $dataItem->userID}" title="{$dataItem->user->user_name}"><h3>{$dataItem->user->user_name}</h3></a>
							<span class="divider">></span>
							<a href="{plink :Profil:Galleries:listUserGalleryImages galleryID => $dataItem->userGallery->id}" title="{$dataItem->userGallery->name}">
								<h3>{$dataItem->userGallery->name}</h3>
							</a>
							<a href="{plink :Profil:Galleries:image imageID => $dataItem->userGallery->lastImage->id, galleryID => $dataItem->userGallery->id}" class="imagehref">
								<img src="{$dataItem|getStrmImgPath}" alt="{$dataItem->userGallery->name}" />
								<p>{$dataItem->userGallery->lastImage->description}</p>
							</a>
							<div class="react-menu">
								{control likeImages-$dataItem->id}
							</div>
							{control commentImages-$dataItem->id}
						{else}
							<strong>Obrázky se zobrazují pouze registrovaným uživatelům. <a href="{plink :Sign:registration}">Registrujte se</a>.</strong>
						{/if}
					{/ifset}
					{ifset $dataItem->galleryID}
						{if $user->isLoggedIn()}
							<a href="{plink :Competition: imageID => $dataItem->gallery->lastImageID}" title="{$dataItem->gallery->name}"><h3>{$dataItem->gallery->name}</h3></a>
							<a href="{plink :Competition: imageID => $dataItem->gallery->lastImageID}" class="imagehref">
								<img src="{$dataItem|getStrmImgPath:'g'}" alt="{$dataItem->gallery->name}" />
								<p>{$dataItem->gallery->lastImage->comment}</p>
							</a>
						{else}
							<strong>Obrázky se zobrazují pouze registrovaným uživatelům. <a href="{plink :Sign:registration}">Registrujte se</a>.</strong>
						{/if}
					{/ifset}
					{ifset $dataItem->confessionID}
						<a href="{plink Page:confession id => $dataItem->confessionID}" title="Přiznání o sexu"><h3>Přiznání</h3></a>
						<p>{$dataItem->confession->note}</p>
						<div class="react-menu">
							{control likeConfession-$dataItem->id}
						</div>
						{control commentConfession-$dataItem->id}
					{/ifset}

					{ifset $dataItem->adviceID}
						<a href="{plink Page:advice id => $dataItem->adviceID}" title="Poradna o sexu"><h3>Poradna</h3></a>
						<p>{$dataItem->advice->note}</p>
					{/ifset}
					{ifset $dataItem->statusID}
						{var $status = $dataItem->status}
						{$status->user|showProfDiv}
						<p>{$status->message}</p>
						<div class="react-menu">
							{control likeStatus-$dataItem->id}
						</div>
						{control commentStatus-$dataItem->id}
					{/ifset}
					{*<div class="votes">
						{control pollsControl-$dataItem->id}
					</div>*}
				</div>
			{/foreach}
		</div>
		<div class="loaderbar">
			<div class="stream-btn-next">
				<a id="next-data-item-btn" n:href="getMoreData!" class="ajax btn-main loadingbutton">zobrazit více</a>
			</div>
			<div class="stream-message loading-message"></div>
			<div id="stream-loader"><img src="{$basePath}/img/ajax-loader.gif"></div>
		</div>
	 </div>
	 <div class="clear"></div>


</section>
{/block}
{block pageContent}