<a n:href="sendMessage!" data-parprefix="{$paramsPrefix}" id="reactChatSendMessageLink"></a>
<a n:href="refreshMessages!" data-parprefix="{$paramsPrefix}" id="reactChatRefreshMessagesLink"></a>
<a n:href="loadMessages!" data-parprefix="{$paramsPrefix}" id="reactChatLoadMessagesLink"></a>
