{block acceptMenu}
<div class="btn-group btn-group-justified">
	<a class="btn" n:href="AcceptImages:">Uživatelské fotky {$usrCount}</a>
	<a class="btn" n:href="AcceptImages:acceptCompetitionImages">Soutěžní fotky {$compCount}</a>
</div>
{/block}