{block head}

{/block}

{block content}
	<h1>Pokročilé</h1>
	<h2>Vytvoří patch</h2>
	<p>
		Vytvoří patch z existujících souborů.
	</p>
	<a n:href="createDBPatch" type="button" class="btn btn-primary btn-lg btn-block">Vytvořit</a>
{/block}

{block scripts}

{/block}

{block foot}