{snippet}
	{* pokud je uživatel přihlášený, dovolíme mu lajkovat *}
	{if $user->isLoggedIn()}
		{* pokud už uživatel tento obrázek lajkl, ukážeme jen text s celkovým počtem lajků *}
		{if $liked}
			Je sexy ({$image->likes})
		{else}
			<a class="ajax btn-main" n:href="Sexy! $user->id, $image->id">Sexy ({$image->likes})<a/>
		{/if}
	{else}
		k ohodnocení obrázku se musíte <a href="{plink Sign:in}">přihlásit</a>
	{/if}
{/snippet}