{block head}

{/block}

{block content}

    <table class="table table-condensed user-data">
            <tbody>
            {foreach $userProperties as $label => $data}
                    {if !empty($data)}
                    <tr>
                            <th>{$label}</th>
                            <td>{$data}</td>
                    </tr>
                    {/if}
            {/foreach}
            </tbody>
    </table>
	{if $listFew}
		<a class="more-btn ui-btn ui-btn-inline" href="{plink :Profil:Show:userInfo $userID}">více</a>
	{/if}

{/block}

{block scripts}

{/block}

{block foot}