{* Latte template *}

{block menu}
<nav>
	<span><a n:href="default $userID">Zeď</a></span>
	<span><a n:href="userImages $userID">Fotky</a></span>
	<span><a n:href="userInfo $userID">Informace</a></span>
</nav>
{/block}
