{layout '../BaseSexyList/sexyList.latte'}

{define showUser}
	<td>
		{if $sexyUser->userFrom->profilFoto}
			<img src="{$sexyUser->userFrom->profilFoto|getImgMinPath}" width="80px"/>
		{/if}
	</td>
	<td>{$sexyUser->userFrom->user_name}</td>
{/define}
