<ul style="margin: 0 auto;">
	<p>
	
	{foreach $items as $item}
		<li>
			<p>
				{$item|showProf: array(':Profil:Show:default', 'id' => $item->id)}
			</p>
		</li>
	
	{/foreach}
	</p>
</ul>