{block searchMenu}
	<h2>Vyhledávání osob</h2>

	<a href="{plink lastHour}">V poslední hodině</a>

	<a href="{plink Search:newlyRegistered}">Nově registrovaní</a>

	<a href="{plink Search:nearMe}">Blízko mě</a>

	<a href="{plink Search:last24Hour}">Pokročilé hledání</a>
{/block}