body {
    font-family: Tahoma, Geneva, Verdana, sans, sans-serif, Arial;
    background: #fff;
}
a {
    color: #000;
    text-decoration: none;
}
.hidden {
    display: none;
}
.inner {
    width: 840px;
    margin: 0 auto;
}
.flash {
    margin: 10px auto;
    padding: 10px;
    width: 700px;
    text-align: center;
    color: #fff;
    font-weight: 700;
    margin-bottom: 20px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
    background-color: #fcf8e3;
    border: 1px solid #fbeed5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
}
.stylish-container {
    color: #fff;
    width: 150px;
    padding: 10px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    border: 3px solid #fff;
    background: #cf0707;
    background: -moz-linear-gradient(top, #cf0707 0, #890302 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #cf0707), color-stop(100%, #890302));
    background: -webkit-linear-gradient(top, #cf0707 0, #890302 100%);
    background: -o-linear-gradient(top, #cf0707 0, #890302 100%);
    background: -ms-linear-gradient(top, #cf0707 0, #890302 100%);
    background: linear-gradient(to bottom, #cf0707 0, #890302 100%);
    filter: progid:dximagetransform.Microsoft.gradient(startcolorstr='#cf0707', endcolorstr='#890302', gradienttype=0);
}
#header {
    position: absolute;
    width: 100%;
    z-index: 10;
    overflow: visible;
    height: 53px;
    background: #cf0707;
    background: -moz-linear-gradient(top, #cf0707 0, #890302 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #cf0707), color-stop(100%, #890302));
    background: -webkit-linear-gradient(top, #cf0707 0, #890302 100%);
    background: -o-linear-gradient(top, #cf0707 0, #890302 100%);
    background: -ms-linear-gradient(top, #cf0707 0, #890302 100%);
    background: linear-gradient(to bottom, #cf0707 0, #890302 100%);
    filter: progid:dximagetransform.Microsoft.gradient(startcolorstr='#cf0707', endcolorstr='#890302', gradienttype=0);
}
header {
    position: relative;
    z-index: 20;
}
header h1 {
    display: block;
    font-size: 36px;
    font-family: 'Exo', sans-serif;
    padding: 5px 0;
    text-shadow: 0 0 1px white;
    color: #fff;
}
#left_confession h2 {
    font-family: 'Exo', 'Arial';
    color: #a70304;
    font-size: 32px;
    padding: 10px 0 0 5px;
}
header h1 b {
    color: #dfbfc2;
    font-weight: 600;
}
header h1 span {
    font-size: 24px;
}
#left-panel {
    position: fixed;
    z-index: 8;
    height: 100%;
    width: 80px;
    background: #383838;
}
#left-panel-label {
    position: fixed;
    width: 140px;
    left: -60px;
    z-index: 6;
    height: 100%;
    background: #383838;
}
#title-container {
    margin-top: 200px;
}
#title-container a {
    color: #eee;
    display: block;
    font-size: 16px;
    padding: 25px 10px 15px 15px;
    height: 38px;
}
#topmenu {
    float: left;
    min-width: 600px;
    margin-top: 30px;
    margin-left: 40px;
}
#orders {
    width: 300px;
    margin-left: 200px;
    margin-top: 30px;
    padding: 15px;
    position: relative;
}
#topmenu a {
    display: block;
    float: left;
    padding: 10px 5px 10px 20px;
    margin-right: 15px;
    background: url(../../images/layout/arrow_light.png) no-repeat transparent;
    background-position: 0 50%;
    cursor: pointer;
}
#orderlink {
    background: url(../../images/layout/arrow_light.png) no-repeat transparent;
    background-position: 0 50%;
    padding-left: 15px;
    margin-left: 10px;
    cursor: pointer;
}
#ordermenu {
    position: absolute;
    left: 10px;
    top: 38px;
    min-width: 200px;
}
#ordermenu a {
    width: 200px;
    color: white;
    display: block;
    margin: 5px 0 5px 5px;
}
#ordermenu a:hover {
    text-decoration: underline;
}
#ordermenu a.active:hover {
    text-decoration: none;
    cursor: default;
}
#topmenu a:hover {
    background-position: 0 60%}
#kiss {
    display: block;
    float: left;
    position: relative;
    left: -50px;
    width: 207px;
    height: 178px;
    background: url(../../images/layout/kiss.png) no-repeat transparent;
}
#next_admission {
    position: absolute;
    right: -70px;
    top: 120px;
    width: 271px;
    height: 113px;
    background: url(../../images/layout/next_admission.png) no-repeat transparent;
    float: right;
}
#clock {
    position: relative;
    text-align: center;
    width: 111px;
    top: 64px;
    left: 46px;
    color: #8f0302;
    font: 700 24px 'Arial Black', Arial;
}
#left-menu {
    margin-top: 200px;
}
#left-menu a {
    display: block;
    cursor: pointer;
    width: 75px;
    margin-left: 5px;
    margin-bottom: 8px;
    height: 70px;
    background: url(../../images/layout/menu.png) no-repeat transparent;
}
#left-side .first:hover, #left-side .second:hover, #left-side .third:hover, #left-side .fourth:hover{
    text-decoration: underline;
}
#left-menu .second {
    background-position: 0 -70px;
}
#left-menu .third {
    background-position: 0 -140px;
}
#left-menu .fourth {
    background: url(../../images/layout/plus.png) no-repeat transparent;
}
.form-field {
    resize: none;
    border: 1px solid #bebebe;
    background: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #8e8e8e;
    padding: 8px 2%;
    margin-bottom: 5px;
    width: 96%}
.form-field:focus {
    background: #fff;
    color: #000;
}
.submit-container {
    text-align: center;
}
.submit-button {
    position: relative;
    letter-spacing: 1px;
    color: #fff;
    cursor: pointer;
    font: 600 22px 'Exo', 'Arial Black', Arial;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    width: 100%;
    height: 40px;
    text-shadow: 0 0 1px white;
    background: #cf0707;
    background: -moz-linear-gradient(top, #cf0707 0, #890302 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #cf0707), color-stop(100%, #890302));
    background: -webkit-linear-gradient(top, #cf0707 0, #890302 100%);
    background: -o-linear-gradient(top, #cf0707 0, #890302 100%);
    background: -ms-linear-gradient(top, #cf0707 0, #890302 100%);
    background: linear-gradient(to bottom, #cf0707 0, #890302 100%);
    filter: progid:dximagetransform.Microsoft.gradient(startcolorstr='#cf0707', endcolorstr='#890302', gradienttype=0);
}
.submit-button:hover {
    background: #ef3737;
    background: -moz-linear-gradient(top, #ef3737 0, #890302 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ef3737), color-stop(100%, #890302));
    background: -webkit-linear-gradient(top, #ef3737 0, #890302 100%);
    background: -o-linear-gradient(top, #ef3737 0, #890302 100%);
    background: -ms-linear-gradient(top, #ef3737 0, #890302 100%);
    background: linear-gradient(to bottom, #ef3737 0, #890302 100%);
}
.submit-button:active {
    top: -1px;
}
.active {
    font-weight: 700;
}
footer {
    padding: 40px 20px 20px;
    min-height: 150px;
    color: #bebebe;
}
#footline {
    height: 1px;
    border-top: 1px dashed #bebebe;
}
footer .left {
    padding: 10px;
    float: left;
    text-align: left;
}
footer .right {
    padding: 10px;
    float: right;
    text-align: right;
}
#footernav a {
    color: #bebebe;
    margin-left: 20px;
}
#page-shadow {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .5;
    z-index: 10000;
}
.show_comments_button {
    background-image:  url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yl/r/_mba7MEljSe.png);
    background-repeat:  no-repeat;
    background-size:  auto;
    background-position:  -352px -495px;
    background-color:  #5b74a8;
    border-color:  #29447e #29447e #1a356e;
    cursor:  pointer;
    display:  block;
    font-size:  14px;
    font-weight:  bold;
    padding:  8px;
    text-align:  center;
    text-decoration:  none;
    vertical-align:  top;
    white-space:  nowrap;
    color:  white;
    border:  1px solid #999;
    border-color:  #29447e #29447e #1a356e;
}
.commentspinner {
    text-align:  center;
    padding:  20px;
}

