<section id="chat-messages">
	<div id="stream">
		<div class="loaderbar">
			<div class="stream-btn-next">
				<a id="next-data-item-btn" n:href="getMoreData!" class="ajax btn-main loadingbutton">zobrazit více</a>
			</div>
			<div class="stream-message loading-message"></div>
			<div id="stream-loader"><img src="{$basePath}/img/ajax-loader.gif"></div>
		</div>
		<div class="stream-info-message"></div>
		<div n:snippet="stream-messages" data-ajax-append="true">
			{ifset $messages}
				{foreach $messages as $message}
					<div class="stream-message">
						<a href="{plink Profil:Show: $message->id_sender}">{$message->sender->user_name}</a>
						<p>{$message->text}</p>
					</div>
				{/foreach}
			{/ifset}
		</div>
		<div n:snippet="messageNewForm" class="message-new-form">
			{control messageNewForm}
		</div>
	 </div>
	 <div class="clear"></div>
</section>