<div n:snippet="payment">
{if $accountChoose}
	{include 'accountChoose.latte'}
{elseif $paymentChoose}
	Výběr platby/placení
	{control choosePaymentForm}
	{if $type == 1}
	- návod na odeslání platby přes účet -
	<a n:href="paymentComplete" class="ajax">Dokončit platbu</a>
	
	{/if}
{elseif $paymentComplete}
	{include 'paymentComplete.latte'}
{/if}
</div>