<a id="activities-btn" class="user-btn"></a>
<div id="activities" data-ajaxbox-load-url="{link getMoreData!}" data-ajaxbox-info-message="<a class='ajax marker read-all-link' href='{link allViewed!}'>Přečíst vše</a>">
	<ul n:snippet="list" data-ajax-append="true">
		{includeblock 'activitiesBlocks.latte'}
	</ul>
</div>